@mixin flexCenter($direction, $color) {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: $direction;
  background: $color;
}

header {
  @include flexCenter(column, $primaryColor);

  button {
    background: $secondaryColor;

    &::after {
      content: 'Helooo';
    }

    &:hover {
      background: $secondaryColor;
    }
  }
}